<div class="kep-content">
  <div class="kep-section">
    <div class="kep-subsection">
      <div class="kep-content-presentation-slide">
        <ul>
          <li>
            <img class="img" src="{{img}}" alt="Slide" width="100%">
          </li>
        </ul>
      </div>
      <div class="info">
        <section id="contactenos">
          <form>
            <input type="text" placeholder="Nombre" id="nombre">
            <input type="email" placeholder="Email" id="email">
            <input type="text" placeholder="Asunto" id="asunto">
            <textarea name="mensaje" id="mensaje" placeholder="Mensaje" rows="6" id="mensaje"></textarea>
            <input type="submit" id="enviar" value="Enviar">
          </form>
        </section>
      </div>
    </div>
  </div>
