<div class="kep-content">
  <div class="kep-section">
    <div class="kep-subsection">
      <div class="kep-content-presentation-slide">
        <ul>
          <li>
            <img class="img" src="{{ img }}" alt="Slide" width="100%" />
          </li>
        </ul>
        <button id="boton" (click)="back()">
          <img src="../../../assets/image/icons/arrow.webp" alt="" />
        </button>
      </div>
      <div class="seller-cards">
        <div class="seller-card-content">
          <h2 class="title-seller">Información de la empresa</h2>
          <div class="card">
            <div class="mail-seller">
              <img src="../../../assets/image/icons/email.webp" alt="email" />
              <p class="title">mail@gmail.com</p>
            </div>
            <p>
              <a href="tel:5533221177">
                <button>
                  <img
                    src="../../../assets/image/icons/phone.webp"
                    alt="phone"
                  />
                  <p>Contactar</p>
                </button>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
