<div class="seller-cards">
    <img class="seller-img" src="../../../assets/image/homes/seller.webp" alt="seller">
    <div class="seller-card-content">
        <h2 class="title-seller">Información del vendedor</h2>
        <div class="card">
            <h1>{{contacts[0].name}}</h1>
            <div class="mail-seller">
                <img src="../../../assets/image/icons/email.webp" alt="email">
                <p class="title">{{contacts[0].mail}}</p>
            </div>
            <p>
                <a href="tel:{{contacts[0].phoneNumber}}">
                    <button>
                        <img src="../../../assets/image/icons/phone.webp" alt="phone">
                        <p>
                            Contactar
                        </p>
                    </button>
                </a>
            </p>
        </div>
    </div>
</div>