<div class="filter-visibility">
  <button (click)="visibilidad()">
    <p>Filtrar</p>
    <img
      *ngIf="test2"
      src="../../../assets/image/icons/arrow-down.webp"
      alt=""
    />
    <img
      *ngIf="!test2"
      src="../../../assets/image/icons/arrow-up.webp"
      alt=""
    />
  </button>
</div>
<div class="filter-container" *ngIf="!test2" [@fadeInOut]>
  <form class="form-filter" [formGroup]="form" (ngSubmit)="submit()">
    <h2>¿Que tipo de hogar buscas?</h2>
    <div class="custom-control custom-radio">
      <input
        id="casa"
        type="radio"
        class="custom-control-input"
        value="casa"
        name="type"
        formControlName="type"
      />
      <label class="custom-control-label" for="casa">Casa</label>
    </div>
    <div class="custom-control custom-radio">
      <input
        id="depto"
        type="radio"
        class="custom-control-input"
        value="depto"
        name="type"
        formControlName="type"
      />
      <label class="custom-control-label" for="depto">Departamento</label>
    </div>
    <!-- MY FORM CONTROLS ARE ALREADY HERE -->
    <select class="select-filter" formControlName="country">
      <option [selected]="true" disabled>Selecciona un estado</option>
      <option *ngFor="let option of websiteList">
        {{option}}
    </select>
    <div class="range-filter">
      <div class="range-cost">
        <span> Precio: </span>
        <span *ngIf="test">{{ test | currency }}</span>
      </div>
      <input
        type="range"
        min="500000"
        max="10000000"
        step="1"
        (input)="changeRange($event.target.value)"
        formControlName="range"
      />
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">
      Buscar
    </button>
  </form>
  <button class="btn btn-secondary" (click)="delete()">
    Borrar
  </button>
</div>
