.filter-container {
  padding-top: 25px;
}
.form-filter {
  flex-wrap: wrap;
  display: flex;
  background: grey;
  .select-filter {
    flex: 100%;
    margin: 0 90px 0 90px;
    height: 40px;
    margin-bottom: 16px;
    border-radius: 6px;
  }
  .range-filter {
    border-radius: 6px;
    display: flex;
    flex-flow: column;
    height: max-content;
    flex: 100%;
    margin: 0 90px;
  }
  .range-cost {
    font-size: medium;
    display: flex;
    align-self: center;
  }
  .custom-control {
    flex: 30%;
    margin-bottom: 16px;
    input {
      margin-right: 5px;
    }
  }
  h2 {
    flex: 100%;
  }
  button {
    margin: 15px 139px;
    border-radius: 6px;
    width: 100px;
    height: 45px;
    font-size: large;
  }
}
.filter-visibility {
  float: right;
  padding-right: 10px;
  p {
    font-size: medium;
  }
  button {
    display: flex;
    background: none;
    border: none;
    img {
      padding-top: 2px;
      width: 15px;
      margin-left: 5px;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) {
  .filter-visibility {
    padding-right: 40px;
  }
  .form-filter {
    .select-filter {
      margin: 0 500px;
    }
    .range-filter {
      margin: 0 500px;
    }
    button {
      margin: 20px 600px;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .filter-visibility {
    padding-right: 40px;
  }
  .form-filter {
    .select-filter {
      margin: 0 500px;
    }
    .range-filter {
      margin: 0 500px;
    }
    button {
      margin: 20px 600px;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .filter-visibility {
    padding-right: 40px;
  }
  .form-filter {
    .select-filter {
      margin: 0 500px;
    }
    .range-filter {
      margin: 0 500px;
    }
    button {
      margin: 20px 630px;
    }
  }
}

