<div class="kep-login-content">
  <div class="kep-login-content-image" *ngIf="device">
    <figure class="kep-login-content-image-big">
      <img src="{{img}}" alt="">
    </figure>
  </div>
  <div class="kep-login-content-form">
    <figure class="kep-login-content-image-logo">
      <img src="{{imgLogo}}" alt="">
    </figure>
    <form [formGroup]="formLogins">
      <div>
        <input class="kep-input" formControlName="user" name="user" type="text" placeholder="Usuario" id="usuario" autocomplete="off">
      </div>
      <div>
        <input class="kep-input" formControlName="password" name="password" type="password" placeholder="Contraseña" id="password" autocomplete="off">
      </div>
      <button class="kep-btn" id="log" (click)="login()">Continuar</button>
    </form>
  </div>
</div>
