<div class="kep-content">
  <div class="kep-section">
    <div class="kep-subsection">
      <app-section-slide [img]="item.images"></app-section-slide>
      <div class="kep-informative-section">
        <app-section-description [name]="item.name" [description]="item.description" [cost]="item.cost"
          [location]="item.location"></app-section-description>
      </div>
      <div class="kep-feature-section">
        <app-section-features [features]="item.features" [extras]="item.extras"></app-section-features>
      </div>
      <div class="kep-contact-section">
        <app-section-contact [name]="item.name" [cost]="item.cost" [id]="item.propertyId" [mail]="item.contacts[0].mail"></app-section-contact>
      </div>
      <div class="kep-seller-section">
        <app-section-seller [contacts] = "item.contacts"></app-section-seller>
      </div>
      <div class="kep-filter-section">
        <app-section-filter></app-section-filter>
      </div>
      
    </div>
  </div>