@media only screen and (min-width: 768px) {
  #contactenos {
    padding-bottom: 0% !important;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #contactenos {
    padding-bottom: 0% !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #contactenos {
    padding-bottom: 0% !important;
  }
}
