.slick-wrapper{
    width: 100%;
    margin-bottom: 5%;
    img {
        height: 300px;
        width: 100%;
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) {
    .slick-wrapper{
        img {
            height: 400px;
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .slick-wrapper{
        img {
            height: 400px;
        }
    } 
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .slick-wrapper{
        img {
            height: 400px;
        }
    }
}