<div class="area">
  <div class="secondArea">
    <div class="middleArea">
      <div class="kep-content-presentation-slide">
        <ul>
            <li>
                <img class="img" src="{{img}}" alt="Slide" width="100%">
            </li>
        </ul>
        <button id="boton" (click)="back()"><img src="../../../assets/image/icons/arrow.webp" alt=""></button>
    </div>
      <div class="info">
        <section id="quienesSomos">
          <h1>Nuestras vision</h1>
          <hr>
          <p>Lorem ipsum dolor sit
            amet, consectetur adipiscing elit. Donec eleifend placerat consectetur. Proin quam nulla,
            cursus a tortor vitae, egestas fermentum sem. Nam malesuada ac nulla vel tincidunt.
            Vestibulum placerat efficitur neque tempor imperdiet. Sed massa libero, pellentesque quis
            lacus vel, pulvinar semper risus. Sed sagittis, metus vel vulputate blandit, nunc nibh
            suscipit urna, a finibus ex dui suscipit dolor. In tristique varius justo quis pellentesque.
            Fusce sollicitudin condimentum libero, at gravida metus pharetra vel. Vestibulum accumsan mi
            egestas lacus molestie tincidunt. Donec non dignissim mauris. Aliquam erat volutpat.

            Suspendisse potenti. In mollis vulputate dolor eu rutrum. Aliquam mattis tempor tellus, quis
            tempor purus congue id. Etiam feugiat nisi ac diam rhoncus, in luctus tellus elementum.
            Aenean nec mauris sed neque malesuada accumsan. Nullam commodo lobortis quam quis pulvinar.
            Curabitur rutrum lacus quis ex commodo dapibus.</p>
        </section>
      </div>
    </div>
  </div>
