<div class="kep-content">
  <app-header title="Inicio"></app-header>
  <div class="kep-menu">
    <app-menu></app-menu>
  </div>
  <div class="kep-section">
    <div class="kep-subsection">
      <app-slide img="{{img}}"></app-slide>
    <div class="kep-informative-section">
      <h2>Sección informativa</h2>
      <div class="kep-cards">
        <div class="kep-cards_item" *ngFor="let item of items">
          <app-cards 
          [name]="item.name"
          [description]="item.description"
          [image]="item.images[0].imageId"
          [cost]="item.cost"
          [id]="item.propertyId"
          ></app-cards>
        </div>
      </div>
    </div>
  </div>
</div>
