<div class="kep-content">
  <div class="kep-section">
    <div class="kep-subsection">
      <app-slide [img]="images"></app-slide>
      <div class="kep-informative-section">
        <app-filter-cards
          (filter)="submitFilter($event)"
          (deleteFilter)="deleteFilter()"
        ></app-filter-cards>
        <h2>Encuentra tu hogar</h2>
        <div class="error" *ngIf="error">
          <p>
            Lo sentimos no se encontró coincidencia con los parámetros de
            búsqueda, vuelva a intentar con otros datos
          </p>
        </div>
        <div class="kep-cards">
          <div
            class="kep-cards_item"
            *ngFor="
              let item of items
                | paginate
                  : {
                      itemsPerPage: pageSize,
                      currentPage: page,
                      totalItems: count
                    };
              let i = index
            "
          >
            <app-cards
              [name]="item.name"
              [description]="item.description"
              [image]="item.image"
              [cost]="item.cost"
              [id]="item.propertyId"
            ></app-cards>
          </div>
          <div class="col-md-12" *ngIf="!error">
            <pagination-controls
              previousLabel="Anterior"
              nextLabel="Siguiente"
              responsive="true"
              (pageChange)="handlePageChange($event)"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
