<footer class="kep-footer">
  <!-- FOOTER START -->
<div class="footer">
  <div class="contain">
  <div class="col">
    <h1>Compañia</h1>
    <ul>
      <li><a routerLink="/">Inicio</a></li>
      <li><a routerLink="/acerca-de-nosotros">Acerca de nosotros</a></li>
      <li><a routerLink="/mision">Mision</a></li>
      <li><a routerLink="/vision">Vision</a></li>
      <li><a routerLink="/valores">Nuestros valores</a></li>
      <li><a routerLink="/objetivo">Objetivos</a></li>
    </ul>
  </div>
  <div class="col">
    <h1>Soporte</h1>
    <ul>
      <li><a routerLink="/contactanos">Contactanos</a></li>
      <li><a routerLink="/">Comentarios y sugerencias</a></li>
    </ul>
  </div>
  <div class="col social">
    <h1>Social</h1>
    <ul>
      <li><img src="../../../assets/image/icons/face.webp" width="32" style="width: 32px;"></li>
      <li><img src="../../../assets/image/icons/insta.webp" width="32" style="width: 32px;"></li>
      <li><img src="../../../assets/image/icons/twit.webp" width="32" style="width: 32px;"></li>
      <li><img src="../../../assets/image/icons/linked.webp" width="32" style="width: 32px;"></li>
    </ul>
  </div>
<div class="clearfix"></div>
</div>
</div>
<!-- END OF FOOTER -->
</footer>