<nav class="main-menu">
  <ul>
    <li>
      <a [routerLink]="['/home']">
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">
          Inicio
        </span>
      </a>
    </li>
    <li class="has-subnav">
      <a href="#">
        <i class="fa fa-list fa-2x"></i>
        <span class="nav-text">
          Conocenos
        </span>
      </a>
    </li>
    <li class="has-subnav">
      <a >
        <i class="fa fa-laptop fa-2x"></i>
        <span class="nav-text">
          Contacto general
        </span>
      </a>
    </li>
    <li class="has-subnav">
      <a href="#">
        <i class="fa fa-folder-open fa-2x"></i>
        <span class="nav-text">
          Comentarios y sugerencias
        </span>
      </a>
    </li>
  </ul>
</nav>