<div class="area">
  <div class="firstArea">
    <app-menu></app-menu>
  </div>
  <div class="secondArea">
    <app-header title="Contactanos"></app-header>
    <div class="middleArea">
      <app-slide img="{{img}}"></app-slide>
      <div class="info">
        <section id="contactenos">
          <form>
            <input type="text" placeholder="Nombre" id="nombre">
            <input type="email" placeholder="Email" id="email">
            <input type="text" placeholder="Asunto" id="asunto">
            <textarea name="mensaje" id="mensaje" placeholder="Mensaje" rows="6" id="mensaje"></textarea>
            <input type="submit" id="enviar" value="Enviar">
          </form>
        </section>
      </div>
    </div>
  </div>
