<div class="area">
  <div class="firstArea">
    <app-menu></app-menu>
  </div>
  <div class="secondArea">
    <app-header title="Guia"></app-header>
    <div class="middleArea">
      <app-slide img="{{img}}"></app-slide>
      <div class="info">
        <section id="servicios">
          <div id="cajaServicios">
            <ul id="lista">
              <li><img src="../../assets/image/img/templates.jpg" width="100%" alt=""></li>
              <li><img src="../../assets/image/img/templates.jpg" width="100%" alt=""></li>
              <li><img src="../../assets/image/img/templates.jpg" width="100%" alt=""></li>
            </ul>
            <ul id="visor">
              <li>
                <h1>Lorem Ipsum</h1>
                <img src="../../assets/image/img/back.jpg" width="100%" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend placerat
                  consectetur.</p>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </div>
