<section id="contactenos">
  <h2>Haznos llegar tu información</h2>
  <form action="{{ mail }}" method="POST">
    <input
      type="text"
      placeholder="Nombre"
      id="nombre"
      name="name"
      minlength="2"
      maxlength="40"
      required
    />
    <input type="email" placeholder="Email" id="email" name="email" />
    <input
      type="tel"
      placeholder="Telefono"
      id="telefono"
      name="number"
      max="10"
      min="10"
      maxlength="10"
      minlength="10"
      required
    />
    <input type="submit" id="enviar" value="Enviar" />
    <input
      type="hidden"
      name="content"
      value="El cliente esta interesado en la casa/depto {{ id }}: {{
        name
      }} con coste de {{ cost }}"
    />
    <input
      type="hidden"
      name="_next"
      value="http://localhost:4200/mi-futuro-hogar"
    />
    <input type="hidden" name="_subject" value="New submission!" />
    <input type="hidden" name="_captcha" value="false" />
    <input type="hidden" name="_template" value="table" />
  </form>
  <div>
    <img src="../../../assets/image/img/correo.webp" alt="contacto" />
  </div>
</section>
