:root {
	--color_zafiro : #060F34;
    --color_zafiroS : #323F74;
    --color_zafiroGris : #3C3B40;
    --color_zafiroNegro : #000000;
    --color_zafiroAzul : #070B1C;
    --color_keplerAqua : #B1FCFF;
}
