:root {
    --color_zafiro: #d1d1d1;
    --color_zafiroS: #393839;
    --color_zafiroGris: #3C3B40;
    --color_zafiroNegro: #000000;
    --color_zafiroAzul: #e7f0f7;
    --color_keplerAqua: #222222;
    --color_cardsOne: #a484af;
    --color_cardsSecond: #edc6ff;
    --color_cardsFont: #260b36;
    --color_cardsBorder: #ac77c7b0;
    --color_green_olive: #7e6f75;
    --color_button_form: #393839;
    --color_white: #ffff;
}
