:root {
    --color_zafiro: #cedbeb;
    --color_zafiro: #fbc7e3;
    --color_zafiroS: #2580c3;
    --color_zafiroGris: #3C3B40;
    --color_zafiroNegro: #000000;
    --color_zafiroAzul: #e7f0f7;
    --color_keplerAqua: #222222;
    --color_cardsOne: #a484af;
    --color_cardsSecond: #edc6ff;
    --color_cardsFont: #3c0831;
    --color_cardsBorder: #ac77c7b0;
}
