<div class="slick-wrapper">
  <h2>También te puede interesar</h2>
  <!-- You can now use your library component in app.component.html -->
  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
    <div ngxSlickItem *ngFor="let slide of items" class="slide">
      <img src="{{slide.image}}" alt="" width="100%">
    </div>
  </ngx-slick-carousel>
</div>